{
    "release": {
        "prepare": [{
            "path": "@semantic-release/exec",
             "cmd": "make bump VERSION=${nextRelease.version}"
        }]
    },
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/github"
    ]
}