requests
beautifulsoup4
grequests
fake-useragent
proxybroker
addict
pip
sphinx
recommonmark
pylint
autopep8
pipenv
jedi<0.18
ipython
vulture
safety
pre-commit
twine
pytest
pytest-cov
pytest-xdist
pytest-sugar
pytest-travis-fold
tox
coveralls
pluggy<1,>=0.12.0
