sphinx
recommonmark
pylint
autopep8
pytest
pytest-cov
pytest-xdist
pytest-sugar
pytest-travis-fold
tox
coveralls
pluggy<1,>=0.12.0
pip
bpyutils
requests
beautifulsoup4
grequests; python_version > '2.7'
fake-useragent
proxybroker==0.3.2; python_version > '3.5'
# git+https://github.com/bluet/proxybroker2.git; python_version > '3.5'
addict
urllib3==1.25.11
pipenv
jedi<0.18
ipython
vulture
safety
pre-commit
twine
Flask
