sphinx
recommonmark
sphinx-autobuild
ipykernel
nbsphinx
pylint
autopep8
pytest
pytest-cov
pytest-xdist
pytest-sugar
tox
coveralls
pluggy<1,>=0.12.0
docstr-coverage
pip
git+git://github.com/achillesrasquinha/bpyutils.git@develop#egg=bpyutils
requests
beautifulsoup4
grequests; python_version > '2.7'
fake-useragent
proxybroker==0.3.2; python_version > '3.5'
# git+https://github.com/bluet/proxybroker2.git; python_version > '3.5'
addict
urllib3==1.25.11
pipenv
jedi<0.18
ipython
bumpversion
vulture
safety
pre-commit
twine
jupyter
Flask
